<!DOCTYPE html>
<html>

<body>

    <h1>OutPut Results</h1>
    <ul>



        <li>
            <span><%= human.get('FirstName'); %>  
        </li>
        <li>
            <span><%= human.get('LastName'); %>
        </li>
             

    </ul>
</body>

</html>